app/code/core/
app/code/community/Cm/
app/code/commutity/Phoenix/

app/design/
app/etc/
app/locale/
app/.htaccess
app/Mage.php

downloader/
errors/
includes/
js/
lib/
media/
pkginfo/
shell/
skin/
var/

.htaccess
.htaccess.sample
api.php
cron.php
cron.sh
favicon.ico
get.php
index.php
index.php.sample
install.php
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
mage
php.ini.sample
RELEASE_NOTES.txt

.project
.buildpath
.settings/

